# THIS CONFIG IS MANAGED BY ANSIBLE
Interval: {{ puppeteers_prometheus_updates_exporter_interval_seconds }}
Port: {{ puppeteers_prometheus_updates_exporter_port }}

Log-Level: {{ puppeteers_prometheus_updates_exporter_log_level }}
