# Environment file for azure-metrics-exporter
#
# This file is used by azure-metrics-exporter systemd service to authenticate
# with Azure. Typically you would create an Azure "app" (i.e. Oauth2 client)
# and credentials for it and use those to authenticate. The easiest way is to
# use a client secret, although certificate authentication is also a
# possibility.
#
# For details take a look here:
#
# https://github.com/webdevops/go-common/blob/main/azuresdk/README.md

# App (oauth2 client) ID
AZURE_CLIENT_ID={{ puppeteers_prometheus_azure_metrics_exporter_client_id }}

# App (oauth2 client) secret
AZURE_CLIENT_SECRET={{ puppeteers_prometheus_azure_metrics_exporter_client_secret }}

# Azure tenant (domain)
AZURE_TENANT_ID={{ puppeteers_prometheus_azure_metrics_exporter_tenant_id }}

# Azure subscriptions to target (comma- or space-separated)
AZURE_SERVICEDISCOVERY_SUBSCRIPTION_ID={{ puppeteers_prometheus_azure_metrics_exporter_servicediscovery_subscription_id }}
